@use '../variables';
@use '../mixin';
.cente {
    text-align: center;
}



.bol {
    font-weight: 300;
}

.div-form {
    // display: flex;
    // justify-content: center;
    // align-items: center;
@include mixin.centrar;
    .form {
        width: 30rem;
        height: 35rem;
        background: #e6e6e6;
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #000;
        padding: 20px 30px;


        position: relative;

        .h22 {
            margin: 10px 0;
            padding-bottom: 10px;
            /* width: 180px; */
            color: variables.$bgcolorblue;
            border-bottom: 3px solid variables.$bgcolorblue;
        }

        .button {
            float: right;
            padding: 8px 12px;
            /* margin: 8px 0 0; */
            font-family: 'Montserrat', sans-serif;
            border: 2px solid #78788c;
            background: 0;
            color: black;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                background: variables.$bgcolorblue;
                color: #fff
            }
        }

        .pp {
            .input {
                width: 100%;
                padding: 10px;

                background: none;
                outline: none;
                resize: none;
                border: 0;

                transition: all .3s;
                border-bottom: 2px solid #bebed2;

                &:focus {
                    border-bottom: 2px solid #78788c
                }
            }

            &:before {
                content: attr(type);
                display: block;
                margin: 20px 0 0;
                font-size: 18px;
                color: black
            }
        }

        .div {
            content: 'Hi';
            position: absolute;
            bottom: -15px;
            right: -20px;
            background: #50505a;
            color: #fff;
            width: 320px;
            padding: 16px 4px 16px 0;
            border-radius: 6px;
            font-size: 13px;
            box-shadow: 10px 10px 40px -14px #000;


            .span {
                margin: 0 5px 0 15px
            }


        }

    }


}



.div-form1 {
    width: 30rem;
    height: 35rem;
    background-color: white;
    box-shadow: 10px 10px 40px -14px #000;
    padding: 20px 30px;
    border-radius: 8px;
    display: block;
    margin: auto;
}