@use '../variables';
@use '../maps';
@use '../mixin';
@use '../clasextend';

.section1-h1 {
    font-size: map-get(maps.$tamanioTexto , tituloxl );
}

.section1-p {
    font-size: map-get(maps.$tamanioTexto ,parrafoxl );
    @extend .textojustificado;
    line-height: 30px;
}


.section1-button {
    background-color: variables.$bgcolorblue;
    color: white;
    font-size: map-get(maps.$tamanioTexto , textobuton );
    border: none;
    padding: 4px;
    border-radius: 5px;
    width: 10em;
    &:hover {

        background-color: #023047;
        cursor: pointer;
    }
}



.img-carr {
    max-height: 742.5px;
}

.encima {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 2%;
    text-shadow: 1px 1px 2px variables.$bgcolorblue;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .encima-1 {
        width: 45%;
        margin-bottom: 1%;
    }
}


