@use '../maps';
@use '../clasextend';

.section2-ul {
    padding-left: 4%;
    line-height: 30px;
    font-size: map-get(maps.$tamanioTexto , parrafoxl );
}

.section2-h2 {

    font-size: map-get(maps.$tamanioTexto , tituloxl );
}

.section2-p {
    font-size: map-get(maps.$tamanioTexto , parrafoxl );
    @extend .textojustificado;
}

iframe {
    border-radius: 15px;
    width: 100%;
}