@use './variables';
@use './maps';


.footer {

    width: 100%;
    height: fit-content;
    background-color: variables.$bgcolorblue;

}


.footer-li {
    list-style: none;

    .footer-a {
        text-decoration: none;
        font-size: map-get(maps.$tamanioTexto, titulofooter);
        color: variables.$colorfondow;
        font-weight: 200;
    }

    & :hover {
        color: variables.$colorhovertext;

    }
}

.footer-img {
    width: fit-content;
    margin: 0;
   
}

.footer-redes-a {
    text-decoration: none;
    color: variables.$colorfondow;

    .fa-brands {
        font-size: map-get(maps.$tamanioTexto, redes );
        margin-top: 10px;

    }

    & :hover {
        color: variables.$colorhovertext;
    }
}

.hr {
    width: 80%;
    display: block;
    margin: auto;
    color: variables.$colorfondow;
}