@use './variables';

.nav-img {
    width: 240px;
    height: 80px;
   
}

#Singup {
    color: variables.$colorfondow;
    background-color: variables.$bgcolorblue;
    border-radius: 10px;

    &:hover {
        color: variables.$colorhovertext;
        background-color: variables.$bgcolorblue;
        border-radius: 10px;
    }
}


.nav-link {
    color: variables.$bgcolorblue;
    &:hover {
        border-bottom: 1px solid variables.$bgcolorblue;
    }

}

