.main {

    margin-top: 100px;

    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

    #fondomain {
        background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
       
    }

}