@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}



body {
    width: 100%;
    height: 100%;
}

.nav-img {
    width: 240px;
    height: 80px;
    /* margin-top: 10px;
    margin-left: 20%; */
}


/* .header {
    
    background-color: #082751;
    
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 10;
} */

#Singup {
    color: white;
    background-color: #082751;
    border-radius: 10px;
}



/*------------------MAIN-----------------------------*/

#fondomain {
    background-color: #d1dfed;
}

.main {
    /* grid-area: main; */
    margin-top: 100px; 
    /* padding: 0 5%; */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    /*BORRAR MAIN
    height: 100vh*/

}

.container-main {
    background-image: linear-gradient(120deg, #8ec5fc 0%, #C8C8C8 100%);

}


.section1-h1 {
    font-size: 50px;

}

.section1-p {
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
}

.section1-button {
    background-color: #082751;
    color: white;
    font-size: 25px;
    border: none;
    padding: 4px;
    border-radius: 5px;
    width: 10em;
}

.section1-text-div {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    row-gap: 10%;
}





/*---------------------------SECTION 2-------------------*/



.section2-text {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding-left: 2%;
}

.section2-ul {
    padding-left: 4%;
    line-height: 30px;
    font-size: 20px;
}

.section2-h2 {

    font-size: 50px;
}

.section2-p {
    font-size: 20px;
    text-align: justify;
}




/*------section 3 ----------------*/

.section3-img {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
}





.section3-h2 {
    padding-left: 2%;
    font-size: 50px;
}




/*------------FOOTER-------------*/


.footer {
    grid-area: footer;
    width: 100%;
    height: fit-content;
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
    background-color: #082751;

}





.footer-li {
    list-style: none;
}

.footer-img {
    width: fit-content;
    margin: 0;
}

.footer-a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.footer-a:hover {
    color: #ffb703;

}



.fa-brands {
    font-size: 35px;
    margin-top: 10px;

}



.hr {
    width: 80%;
    display: block;
    margin: auto;
    color: white;
}

/* TERMINE EDICION BOOSTRAP */













.section1-button:hover {

    background-color: #023047;
    cursor: pointer;
}

.footer-redes-a {
    text-decoration: none;
    color: white;
}

.footer-redes-a:hover {
    color: #ffb703;
}


.about-img1 {
    width:100%;
    /* width: 100%; 
    height: 100%; */
     
    
}


.padding-cost {
    padding-left: 2%;
    padding-right: 2%;
}

.div-mision {


    background-repeat: no-repeat;
    display: block;
    font-size: 20px;

}



.about-section2 {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-bottom: 5%;

}

.about-m {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mision-p {
    text-align: justify;
    font-size: 25px;
    
    line-height: 45px;
    padding: 15px;

}

.about-h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 4%;
}

.about-img-mision {
    width: 100%;
}


/*----------academics--------------------------------*/




/* .section1-academics {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4%;
} */

/* .section2-class {
    display: flex;
    justify-content: center;
    gap: 3%;
    padding-bottom: 3%;
} */



.img-containerclass {
    width: 100%;
    
    /* height: 600px; */
}


.class1 {
    background-color: #082751;
    color: white;
    font-size: 50px;
    padding: 4% 4%;
    height: 100%;
}

.grades {
    width: 100%;
    height: 285px;
    background-color: #ffffff;
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .class3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between
} */


/*--------------- CONTACT-------------------*/


.info-contac {
    width: 370px;
    height: 557px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7%;
    font-size: 25px;
    background-color: #ebeff3;
    border-radius: 10px;
}

.cente {
    text-align: center;
}

.pad {
    padding-top: 3%;
}

.bol {
    font-weight: 300;
}

.section2-contacs {
    margin-top: 7%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    gap: 10%;

}

.form {
    width: 30rem;
    height: 35rem;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px 30px;


    position: relative;
}



.h22 {
    margin: 10px 0;
    padding-bottom: 10px;
    /* width: 180px; */
    color: #082751;
    border-bottom: 3px solid #082751
}

.input {
    width: 100%;
    padding: 10px;
    
    background: none;
    outline: none;
    resize: none;
    border: 0;

    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

.input:focus {
    border-bottom: 2px solid #78788c
}

.pp:before {
    content: attr(type);
    display: block;
    margin: 20px 0 0;
    font-size: 18px;
    color: black
}

.button {
    float: right;
    padding: 8px 12px;
    /* margin: 8px 0 0; */
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s
}


.button:hover {
    background: #082751;
    color: #fff
}

.div {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000
}

.span {
    margin: 0 5px 0 15px
}

.div-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-form1 {
    width: 30rem;
    height: 35rem;
    background-color: white;
    box-shadow: 10px 10px 40px -14px #000;
    padding: 20px 30px;
    border-radius: 8px;
    display: block;
    margin: auto;
}

iframe {
    border-radius: 15px;
    width: 100%;
}



/*LOGIN*/

.login-div {
    background-image: url(https://images.pexels.com/photos/4359106/pexels-photo-4359106.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;

    box-shadow: 10px 10px 40px -14px #000;
    border-radius: 8px;
    width: 40vw;
    height: 45vh;
    display: block;
    margin: auto;
    padding: 7%;


}

.padin {
    padding-top: 15%;
    padding-bottom: 15%;
}

.h2-login {
    text-align: center;
}


.div-u-p {
    margin: 5% 0;
    line-height: 25px;

}

.login-p {
    font-size: 12px;
}

.login-input {
    width: 100%;
    height: 35px;
    border-radius: 15px;
    font-size: 25px;

}

.buton-login {
    --color: #082751;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}


.buton-login:hover {
    background-color: #082751;
    color: white;
    cursor: pointer;
}

.div-buton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.hamburguer {
    display: none;
}

#divmain {
    background-image: url(https://images.pexels.com/photos/716281/pexels-photo-716281.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

@media (max-width: 1300.98px) {


.section1-h1 {
    font-size: 35px;
}
.section1-p {
    font-size: 15px;
}

.section2-h2{
    font-size: 35px;
}

.section2-p {
    font-size: 15px;
}

.section2-ul {
    font-size: 15px;
}

.section3-h2 {
    font-size: 35px;
}

.mision-p {
    font-size: 16px;
    line-height: 25px;
}

.footer-img {
width: fit-content;

}
.class1 {
    height: 100%;
}

.img-containerclass {
    height: 100%;
}
.div-form1 {
    width: 100%;
}



 }


 @media (max-width: 991.98px) { 
    .footer-img {
        width: fit-content;
        
        }
    .section1-h1 {
        text-align: center;
    }

    .section1-button {
        display: block;
        margin: auto;
    }

    .section2-h2 {
        text-align: center;
    }

    .class1 {
        height: 100%;
    }
    .div-form1 {
        width: 100%;
    }
    
 }

 @media (max-width: 430.98px) { 

.footer-a {
    font-size: 16px;
}
.footer-img {
    width: 100%;
    
    }
    .class1 {
        height: 100%;
    }

.grades {
    width: 95%;
    display: block;
    margin: auto;
}

.div-form1 {
    width: 100%;
}


 }