@use '../maps';
@use '../clasextend';
.about-img1 {
    width: 100%;
 

}


.about-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 4%;
    }
    .about-img-mision {
        width: 100%;
    }
    .mision-p {

        // text-align: justify;
        @extend .textojustificado;
        font-size: map-get(maps.$tamanioTexto ,parrafoxl );
    
        line-height: 45px;
        padding: 15px;
    
    }

}





